script(src='/bootstrap-dist/js/bootstrap.min.js')

nav#navbar.navbar.navbar-expand-md.navbar-light.bg-light
	.container-fluid
		a.navbar-brand(href='/')
			img(width=auto, height=40, src="../images/nisseven-2.svg" alt="Nisseven Generator")
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarText.collapse.navbar-collapse
			ul.navbar-nav.mr-auto.mb-2.mb-lg-0

			if user && user.privileges && user.privileges.includes('admin')
				button.btn.btn-secondary(type='button' onclick='window.location.href="/kontrolpanel"') Kontrolpanel

			if user
				button.btn.btn-danger(type='button' onclick='document.cookie = "nv-username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"; document.cookie = "nv-cookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"; window.location.href="/"') Log ud
			else
				if _showSignupBtn
					button.btn.btn-primary(type='button' onclick='window.location.href="/signup"') Opret konto
				else
					button.btn.btn-primary(type='button' onclick='window.location.href="/login"') Log ind