link(rel='stylesheet', href='/css/nisseven.css')

.container
    if user && user.nisseven != null
        .row.mt-5
            .col-md-12.text-center
                p Du har en nisseven!
        .row
            .col-md-12.d-flex.justify-content-center
                .revealer.rounded.border.border-dark.user-select-none.text-center
                    p#nisseven.d-inline-block #{ user.nisseven }
        .row.mt-2
            .col-md-12.dflex.justify-content-center.text-center
                button#decryptbutton.d-inline-block.btn.btn-success.btn-sm(type='button' onclick='showNisseven()') Dekrypter Nisseven