link(rel='stylesheet', href='/css/nisseven.css')

.container
    if user && user.nisseven != null
        .row.mt-5
            .col-md-12.text-center
                p Du har en nisseven!
        .row
            .col-md-12.d-flex.justify-content-center
                .revealer.rounded.border.border-dark.user-select-none
                    p.d-inline-block #{ user.nisseven }
                    button.d-inline-block.btn.btn-success.btn-sm.mr-1.ml-2(type='button' onclick='') Dekrypter Nisseven