<!DOCTYPE html>
html(lang='dk')
	head
		include ./partials/headers.pug
		title Nisseven

	body
		script(src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js")
		include ./partials/navbar.pug
		div#snow(style="position: absolute; width: 100%; height: 100%")
		script(src='/js/default.js')
		div(style="position: absolute; width: 100%; height: 100%")
			include ./partials/nisseven.pug
